<app-nav-bar></app-nav-bar>
<div class="h-screen flex items-center justify-center">
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }" class="text-center">
      <ng-template #header>
        <img alt="Card" class="w-full"
          src="https://static.significados.com.br/foto/diamond-316611-1280.jpg?width=1024" />
      </ng-template>
      <ng-template #title> D2 Finance </ng-template>

      <div class="card flex justify-center">
        <div class="flex flex-col gap-2">
          <label for="username">Usuário</label>
          <input pInputText id="username" name="username" autocomplete="username" aria-describedby="username-help" [(ngModel)]="login" class="w-64" />
        </div>
      </div>
      <div class="card flex justify-center">
        <div class="flex flex-col gap-2">
          <label for="password">Senha</label>
          <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false" name="password" inputStyleClass="w-64" inputId="password" autocomplete="current-password" />
        </div>
      </div>
      <div class="flex justify-between w-full text-sm text-gray-300 mt-2">
        <label><input type="checkbox"> Lembrar Senha</label>
        <a href="#" (click)="abrirModal()">Esqueceu a senha?</a>
      </div>

      <!-- MODAL -->
      <p-dialog header="Recupere sua senha" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

        <div *ngIf="carregando" class="flex flex-col items-center justify-center py-8">
            <p-progressSpinner strokeWidth="4" styleClass="mb-4" />
            <span *ngIf="!codigoEnviado">Enviando código para seu e-mail...</span>
            <span *ngIf="codigoEnviado && !novaSenha">Validando código...</span>
          </div>

        <div *ngIf="!codigoEnviado && !carregando && !novaSenha">
          <span class="p-text-secondary block mb-4">Insira seu e-mail para receber o código.</span>
          <div class="flex items-center gap-4 mb-6">
            <label for="email">Email</label>
            <input pInputText id="email" class="flex-auto" [(ngModel)]="email" autocomplete="off" placeholder="Digite seu email" />
          </div>
          <div class="flex justify-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
            <p-button label="Enviar" (click)="enviarCodigo()" />
          </div>
        </div>

        <div *ngIf="codigoEnviado && !carregando && !novaSenha">
          <span class="p-text-secondary block mb-4 text-center">Verifique seu e-mail e digite o código enviado.</span>
          <div class="flex justify-center mb-4">
            <p-inputotp [(ngModel)]="codigoOTP" [length]="4" id="otp" />
            <div *ngIf="codigoInvalido" class="text-red-500 text-sm text-center mt-2">
                Código inválido. Tente novamente.
              </div>
          </div>
          <div class="flex justify-end gap-2">
            <p-button label="Voltar" (click)="codigoEnviado = false" severity="secondary" />
            <p-button label="Validar" (click)="validarCodigo()" />
          </div>
        </div>

        <div *ngIf="novaSenha && !carregando">
          <span class="p-text-secondary block mb-4 text-center">Digite sua nova senha abaixo.</span>
          <div class="flex flex-col gap-3 mb-4">
            <p-password [(ngModel)]="novaSenhaInput" placeholder="Nova senha" inputStyleClass="w-full" promptLabel="Crie sua senha" weakLabel="Muito fraca" mediumLabel="Boa" strongLabel="Excelente"/>
            <p-password [(ngModel)]="confirmarSenhaInput" placeholder="Confirmar senha" inputStyleClass="w-full" promptLabel="Confirme sua senha" weakLabel="Muito fraca" mediumLabel="Boa" strongLabel="Excelente"/>
          </div>
          <div class="flex justify-end gap-2">
            <p-button label="Salvar senha" (click)="salvarNovaSenha()" />
          </div>
        </div>
      </p-dialog>
      <!-- FIM MODAL -->

      <div class="register-link mt-4 text-center">
        <a href="/cadastro">Não tem Conta? Cadastre-se</a>
      </div>

      <ng-template #footer>
        <a href="/visaogeral">
          <div class="flex gap-4 mt-1">
            <p-button label="Logar" class="w-full" styleClass="w-full" />
          </div>
        </a>
      </ng-template>
    </p-card>
  </div>
</div>

<app-footer></app-footer>

<p-toast></p-toast>
