<div class="min-h-screen flex flex-col bg-[#1e1e1e]">
    <app-nav-bar></app-nav-bar>
    <main>
        <div class="main_info">
            <p>
                Gerencie as finanças da sua empresa de maneira simples e intuitiva, 
                garantindo uma administração eficiente e estratégica para o sucesso do seu negócio! 
            </p>
    
            <div class="main_info">
                <a href="/cadastro"><button>Experimente Gratuitamente</button></a>
            </div>
        </div>
    </main>

    <app-footer class="mt-auto"></app-footer>
</div>