<header>
    
    <div class="navegacao">
        <nav>
            <ul>
                <a id="logo" href="/home">Logo</a>
                <li><a href="/home" class="navegacao_link">Página Inicial</a></li>
                <li><a href="/cadastro" class="navegacao_link">Cadastrar</a></li>
                <li><a href="/contato" class="navegacao_link">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="navegacao-direita">
        <span>
            <a href="https://www.instagram.com/"><i class="pi pi-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="pi pi-facebook"></i></a>
            <a href="https://telegram.org/"><i class="pi pi-telegram"></i></a>
            <a href="https://web.whatsapp.com/"><i class="pi pi-whatsapp"></i></a>
            <a href="https://www.youtube.com/"><i class="pi pi-youtube"></i></a>
        </span>
        <div class="btn-login">
            <a href="/login"><button>Login</button></a>
        </div>
    </div>
</header>