<div class="min-h-screen flex flex-col bg-[#1e1e1e] text-white font-sans relative">
  <div style="position: absolute; top: 105px; left: 0; z-index: 1000;">
    <app-nav-bar-system></app-nav-bar-system>
  </div>

  <div class="card">
    <p-splitter [style]="{ height: '100px' }" styleClass="mb-8" layout="vertical">
      <ng-template #panel>
        <div class="flex items-center justify-center h-full">D2 Finance</div>
      </ng-template>
    </p-splitter>
  </div>

  <p-tabMenu 
    [model]="tabItems" 
    [(activeItem)]="activeTab" 
    (activeItemChange)="onTabChange($event)" 
    class="mb-6 w-full max-w-5xl self-center">
  </p-tabMenu>

  <!-- RECEITAS -->
  <div *ngIf="activeTab.label === 'Receitas'" class="flex flex-col items-center justify-center px-4 py-8 w-full">
        <h1>Filtros</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 bg-[#2a2a2a] p-4 rounded-lg shadow-lg w-full max-w-5xl mb-6">
      <div>
        <label class="block text-sm mb-1">Categoria</label>
        <p-multiselect [options]="categoriaDaReceita" (onChange)="onFilterChange()" [(ngModel)]="filters.categoria" optionLabel="name" placeholder="Selecione uma categoria" [maxSelectedLabels]="3" class="w-full bg-[#1e1e1e] text-white border border-gray-600" />
      </div>

      <div>
        <label class="block text-sm mb-1">Descrição</label>
        <input type="text" [(ngModel)]="filters.desc" (input)="onFilterChange()"
          class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1" />
      </div>

      <div>
        <label class="block text-sm mb-1">Contas</label>
        <input type="text" [(ngModel)]="filters.conta" (input)="onFilterChange()"
          class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1" />
      </div>

      <div>
        <label class="block text-sm mb-1">Data</label>
        <input type="date" [(ngModel)]="filters.data" (input)="onFilterChange()"
          class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1" />
      </div>
    </div>

    <div class="bg-[#2a2a2a] p-6 rounded-lg shadow-lg w-full max-w-5xl">
      <p-table [value]="filteredReceitas" [paginator]="true" [rows]="rows" [first]="first" (onPage)="pageChange($event)"
        class="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Conta</th>
            <th>Data de Recebimento</th>
            <th>Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ item.categoria }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.conta_id}}</td>
            <td>{{ item.data_recebimento | date:'dd/MM/yyyy' }}</td>
            <td class="flex gap-2">
              <button pButton type="button" icon="pi pi-pencil" class="p-button-sm p-button-rounded p-button-info"
                (click)="editarItem(rowIndex)"></button>
              <button pButton type="button" icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger"
                (click)="apagarItem(rowIndex)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- DESPESAS -->
  <div *ngIf="activeTab.label === 'Despesas'" class="flex flex-col items-center justify-center px-4 py-8 w-full">
    <h1>Filtros</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 bg-[#2a2a2a] p-4 rounded-lg shadow-lg w-full max-w-5xl mb-6">
      <div>
        <label class="block text-sm mb-1">Categoria</label>
        <p-multiselect [options]="categoriaDaDespesa" (onChange)="onFilterChange()" [(ngModel)]="filters.categoria" optionLabel="name" placeholder="Selecione uma categoria" [maxSelectedLabels]="3" class="w-full bg-[#1e1e1e] text-white border border-gray-600" />
      </div>

      <div>
        <label class="block text-sm mb-1">Descrição</label>
        <input type="text" [(ngModel)]="filters.desc" (input)="onFilterChange()"
          class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1" />
      </div>

      <div>
        <label class="block text-sm mb-1">Contas</label>
        <input type="text" [(ngModel)]="filters.conta" (input)="onFilterChange()"
          class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1" />
      </div>

      <div>
        <label class="block text-sm mb-1">Data</label>
        <input type="date" [(ngModel)]="filters.data" (input)="onFilterChange()"
          class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1" />
      </div>
    </div>

    <div class="bg-[#2a2a2a] p-6 rounded-lg shadow-lg w-full max-w-5xl">
      <p-table [value]="filteredDespesas" [paginator]="true" [rows]="rows" [first]="first" (onPage)="pageChange($event)"
        class="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Conta</th>
            <th>Data de Pagamento</th>
            <th>Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ item.categoria }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.conta_id}}</td>
            <td>{{ item.data_pagamento | date:'dd/MM/yyyy' }}</td>
            <td class="flex gap-2">
              <button pButton type="button" icon="pi pi-pencil" class="p-button-sm p-button-rounded p-button-info"
                (click)="editarItem(rowIndex)"></button>
              <button pButton type="button" icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger"
                (click)="apagarItem(rowIndex)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <app-footer class="mt-auto"></app-footer>
</div>