<div class="min-h-screen flex flex-col bg-[#1e1e1e]">

<app-nav-bar></app-nav-bar>

  <div class="flex flex-row flex-wrap justify-center items-center min-h-screen gap-6 px-6">

    <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      <ng-template #title> Filipe Eduardo </ng-template>
      <ng-template #subtitle> Super DEV </ng-template>
      <p>
        Sou um cara muito legal. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem neque
        tenetur modi fugiat, enim commodi voluptatum id consectetur?
      </p>
      <ng-template #footer>
        <div class="flex gap-2 mt-2 justify-between">
          <div>
            <!-- esse h3 deixa os icones alinhados -->
            <h3 class='invisivel'>invisivel</h3>
            <a href="https://www.instagram.com/filipeeduw/" target="_blank">
              <i class="pi pi-instagram" style="font-size: 4rem; color: #e66b94;"></i>
            </a>
          </div>
          <div class="qrcode-wrapper">
            <h3>GitHub</h3>
            <qrcode [qrdata]="githubFilipe" [width]="80" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
          <div>
            <!-- esse h3 deixa os icones alinhados -->
            <h3 class="invisivel">invisivel</h3>
            <a href="https://www.linkedin.com/in/filipewienhage/">
              <i class="pi pi-linkedin" style="font-size: 4rem; color: #0e76a8;"></i>
            </a>
          </div>
        </div>
      </ng-template>
    </p-card>

    <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      <ng-template #title> Luis Spezia </ng-template>
      <ng-template #subtitle> Super DEV </ng-template>
      <p>
        Sou um cara muito legal. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem neque
        tenetur modi fugiat, enim commodi voluptatum id consectetur?
      </p>
      <ng-template #footer>
        <div class="flex gap-1 mt-3 justify-between">
          <div>
            <h3 class='invisivel'>invisivel</h3>
            <a href="https://instagram.com/lhspezia" target="_blank">
              <i class="pi pi-instagram" style="font-size: 4rem; color: #e66b94;"></i>
            </a>
          </div>
          <div class="qrcode-wrapper">
            <h3>GitHub</h3>
            <qrcode [qrdata]="githubSpezia" [width]="80" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
          <div>
            <h3 class="invisivel">invisivel</h3>
            <a href="">
              <i class="pi pi-linkedin" style="font-size: 4rem; color: #0e76a8;"></i>
            </a>
          </div>
        </div>
      </ng-template>
    </p-card> 

  </div>

  <app-footer class="mt-auto"></app-footer>
</div>